Block SPhenoInput        # SPheno specific input
  1  -1                  # error level
  2   0                  # SPA conventions
  7   1                  # Skip 2-loop Higgs corrections
 11   0                  # calculate branching ratios
 12   1.00000000E-04     # write only branching ratios larger than this value
 21   0                  # calculate cross section 
 55   1                  # Calculate one loop masses
 58   1                  # enable delta_VB
 80   1                  # exit with non-zero error code if problem occurs
